# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/ 
*.hmap

# OSX General
.AppleDouble
.LSOverride
Icon

# OSX Thumbnails
._*

# JK additional ignores
QuickpaceImages/
Icon*

# Stuff in the suggested .gitignore file from Facebook's iOS github page (less dups with above exclusions)
samples/Hackbook/build/
samples/Hackbook/Hackbook.xcodeproj/*.pbxuser
samples/Hackbook/Hackbook.xcodeproj/*.mode*
samples/Hackbook/Hackbook.xcodeproj/xcuserdata*
samples/Hackbook/Hackbook.xcodeproj/project.xcworkspace
src/facebook-ios-sdk.xcodeproj/*.pbxuser
src/facebook-ios-sdk.xcodeproj/*.mode*
lib/
test/UnitTest/UnitTest.xcodeproj/*.pbxuser
test/UnitTest/UnitTest.xcodeproj/*.mode*
test/UnitTest/build/
*~
*#
.arc